@page "/books/create"
@rendermode InteractiveServer
@attribute [Authorize(Roles = Roles.Admin)]

<h3>Create a new book</h3>

<EditForm Model="book" OnValidSubmit="HandleCreate">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="title">Title *</label>
        <InputText class="form-control" @bind-Value="book.Title" />
    </div>
    <div class="form-group">
        <label for="price">Isbn *</label>
        <InputText class="form-control" @bind-Value="book.Isbn" />
    </div>
    <div class="form-group">
        <label for="summary">Summary *</label>
        <InputText class="form-control" @bind-Value="book.Summary" />
    </div>
    <div class="form-group">
        <label for="summary">Year *</label>
        <InputNumber class="form-control" @bind-Value="book.Year" />
    </div>
    <div class="form-group">
        <label for="summary">Price *</label>
        <InputNumber class="form-control" @bind-Value="book.Price" />
    </div>
    <div class="form-group">
        <label for="summary">Author *</label>
        <InputSelect class="form-select" @bind-Value="book.AuthorId">
            <option value="">-- Select Author --</option>
            @if(authors != null)
                @foreach (var author in authors)
                {
                    <option value="@author.Id">@author.FirstName - @author.LastName</option>
                }
        </InputSelect>
    </div>
    <br />
    <div class="form-group">
        <label for="summary">Book cover photo</label>
        <InputFile OnChange="HandleFileSelection" />
        <img src="@img" width="100" height="100" class="img-thumbnail">
        <p class="text-danger">@UploadFileWarning</p>
    </div>
    <button class="btn btn-primary" type="submit">Create book</button>
</EditForm>